<h1 class="title">Lista de Productos</h1>

    {{#if products.length}}
        <ul class="product-list">
            {{#each products}}
                <li>
                    <h2>{{this.title}}</h2>
                    <p><strong>Descripción: </strong>{{this.description}}</p>
                    <p><strong>Precio:</strong> ${{this.price}}</p>
                    <p><strong>Categoría: </strong>{{this.category}}</p>
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p>No hay productos disponibles.</p>
    {{/if}}